.designs {
  width: 85%;
  height: 800px;;
  border-radius: 25px;
  border: 5px solid rgb(99,0,0);
  background: rgb(266,266,266,0.1);
  margin: auto;
  margin-top: 25px;
}
.designs h1 {
  color: white;
  font-family: Wendy One;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.5%;
}
.designs p {
  color: white;
  text-align: center;
  margin-top: 0.5%;
  font-family: monospace;
  font-size: 20px;
}
.image {
  margin-top: -25px;
}
.thedesign {
  width: 17.7%;
  height: 289px;
  border-radius: 25px;
  border-bottom-right-radius: 225px;
  display: inline-block;
  margin-left: 75px;
  margin-top: 55px;
  -webkit-box-shadow: 10px 10px 12px 6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 12px 6px rgba(0, 0, 0, 0.7);
  box-shadow: 10px 10px 12px 6px rgba(0, 0, 0, 0.7);
}
.thedesign p {
  position: absolute;
  font-family: Wendy One;
  margin-top: -10px;
  font-size: 25px;
  background-color: rgb(99,0,0);
  padding: 0.5% 1.2% 0.5% 1.2%;
  border-radius: 25px;
  justify-content: space-around;

}
.thedesign img {
  width: 15%;
  position: absolute;
  border-radius: 25px;
  border-bottom-right-radius: 225px;
  border: 10px solid rgb(99,0,0);
}
.thedesign:hover {
  opacity: 0.7;
  cursor: pointer;
  border-radius: 25px;
  border-bottom-right-radius: 225px;
}
