@import url('https://fonts.googleapis.com/css?family=Wendy+One');
* {
  background: grey;
}

.header {

}

.nav {
  background-color: rgba(99, 0, 0, 0.5);
}

nav ul {

}

#navtitle {
  text-transform: uppercase;
  font-family: Wendy One;
  font-size: 28px;
  margin-left: 25px;
}
