@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Wendy+One');

* {
  margin: 0;
  padding: 0;
  font-family: Courgette;
}
.main {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
#title h1 {
  color: white;
  position: absolute;
  margin-left: 25px;
  margin-top: 8px;
  font-family: Wendy One;
}
#title {
  width: 15%;
}
#title2nd {
  float: right;
  margin-left: 230px;
  font-size: 25px;
  color: white;
  margin-top: 40px;
  position: absolute;
}
.navbar {
  background: rgba(99,0,0);
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: ;
}
.navbar ul {
  float: right;
  margin-right: 30px;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
}
.navbar ul li a:hover {
  background-color: rgba(46,224,54,0.7);
  color: black;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
.footer {
  background: rgba(46,224,54,0.5);
}
.wrap {
  height: 100%;
}
.maincontent {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  float: left;
}
.maincontent h1, h2, h3, p {
  color: black;
  text-align: center;
  font-size: 45px;
}
footer {
  background: rgba(99,0,0);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 80px;
  text-align: center;
}
footer h6 {
  font-size: 20px;
  margin-top: 1.5%;
}
