* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background: darkgrey;
}
.nav-wrapper {
  background-color: lightgreen;
  width: 75%;
  margin: auto;
  height: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 25px;
}
.nav-wrapper ul {
  list-style: none;
}
.nav-wrapper ul li {
  text-align: center;
}
.nav-wrapper ul li a {
  text-decoration: none;
  color: black;
  font-family: fantasy;
  text-transform: uppercase;
  margin: 25px;
  font-size: 30px;
}
.nav-wrapper ul li a:hover {
  background-color: black;
  color: lightgreen;
}




.main-content {
  background-color: lightgreen;
  width: 97%;
  height: 850px;
  margin: auto;
  border-radius: 10px;
}
.main-content h1 {
 text-align: center;
 width: 90%;
 margin: auto;
 margin-bottom: 25px;
 font-family: fantasy;
 text-transform: uppercase;
 font-size: 30px;
 color: black
 margin: 25px;
}
.main-content p {
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  font-family: fantasy;
  text-transform: full-width;
  font-size: 20px;
  color: black
  margin: 25px;
}
.rlitems {
  float: left;
  margin-left: 15px;
}
.rlitems h1 {
  text-align: center;
  padding-top: 25px;
}
.rltrading {
  margin-left: 600px;
}
.rltrading h1 {
  padding-top: 25px;
  margin-left: -520px;
}

.team {
  margin-left: 1400px;
  margin: 0;
  padding: 0;
  position: absolute;
  margin-left: 1350px;
  padding-top: 25px
}
