@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


* {
  margin: 0;
  padding: 0;
  font-family: Courgette;
}
.main {
  width: 100%;
  height: 100vh;
  background-image:url(paludan.jpg);
  background-repeat: no-repeat;
}
.main h1 {
  color: white;
  position: absolute;
  margin: 25px;
}
.navbar {
  background: rgba(46,224,54,0.5);
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.navbar ul {
  float: right;
  margin-right: 30px;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
}
.navbar ul li a:hover {
  background-color: rgba(255,255,255,0.7);
  color: #528cda;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
.footer {
  background: rgba(82,140,218,0.5);
}
.wrap {
}
.maincontent {
  background: rgba(82,140,218,0.7);
  padding: 25px;
  margin: 25px;
  border-radius: 20px;
  height: 680px;
  width: 69%;
  float: left;
}
.nyhederdiv {
  background: rgba(82,140,218,0.5);
  width: 20%;
  border-radius: 20px;
  color: white;
  padding: 25px;
  margin: 25px;
  height: 680px;
  float: right;
}
.maincontent h1, h2, h3, p {
  color: white;
  text-align: center;
  font-size: 30px
}
.nikolaj {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 100px
}
#nyhedtitle {
  font-size: 45px;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 28px;
  float: left;
  margin-bottom: 10px;
}
.nyhedbesked {
  clear: both;
  float: left;
  font-size: 23px;
  font-family: Open Sans Condensed;
  margin-bottom: 25px;
}
.nyhederdiv p {
  float: left;
}
footer {
  background: rgba(82,140,218,0.5);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  height: 80px;
  text-align: center;
}
footer h6 {
  font-size: 20px;
  margin-top: 1.5%;
}
.iframe {
  background: rgba(82,140,218,0.5);
  margin: auto;
  text-align: center;
  padding: 25px;
  margin-top: 25px;
  width: 80%;
  height: 680px;
  border-radius: 20px;
}
.iframe h2 {
  margin-bottom: 15px;
}
.billeder img {
  width: 350px;
  margin: auto;
  margin-right: 1.7%;
}
